.classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 56px;
    width: 56px;
    background-color: #3d9ecf;
    border: solid transparent 3px;
    color: white;
    margin: 0px 5px;
}