.errMsg {
    background-color: darkred;
    position: fixed;
    top: 18%;
    left: 40%;
    right: 0;
    width: 20%;
    height: 6%;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1rem;
    border-radius: 3%;
}