@import '../CompleteGrid/CompleteGrid.module.css';

.classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.cell {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 56px;
        width: 56px;
        background-color: #3d9ecf;
        color: white;
        border: solid black 3px;
        margin: 0px 5px;
}

.green{
    color: black;
    background-color: greenyellow;
}

.yellow {
    color: black;
    background-color: yellow;
}