.classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    width: 50px;
    border: none;
    background-color: black;
    color: white;
    margin: 0px 20px;
    /** Disable highlightable keyboard*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}